<div class="modal-header">
    <h4 class="modal-title mt-2 mr-4">Server Updates</h4>
    <button type="button" class="pull-right btn btn-white" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true"><i class="fa fa-times"></i></span></button>
</div>
<div class="modal-body">
    <div class="container col-md-12">
          <div class="col-md-12" id="updates_content_md">
{{ updates_content }}
          </div>
    </div>
</div>
<div class="modal-footer">

    <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>

    {% if has_updates %}
        <a type="button" class="btn btn-success" href="/manage/server/make-update?cid={{session['current_case'].case_id}}">Update server</a>
    {% endif %}

</div>