<div class="modal-header">
    <h4>Add Module</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

        <div class="container col-md-12">
        <form method="post" action="" id="form_new_module">
            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    <h3>Module extensions</h3>
                    <p>Iris can be extended with compatible modules. Modules are pip packages providing a specific interface which allows
                        Iris and the module to communicate. Enter below a pip package name already installed.</p>
                    <p>Ex: iris_evtx</p>
                    <i class="">Tips: you can develop your own module by following <a target=”_blank” href="https://docs.dfir-iris.org/development/modules/" >this link</a></i>
                    <div class="mt-4">
                      <strong class="text-danger">Note :</strong> Modules are running as the same trust level as Iris. They can thus access all the information
                        stored on Iris as well as run code on the server. Please be cautious and review modules before installing them.
                    </div>
                    <label for="module_name" class="mr-4 mt-3">Module name</label>
                    {{ form.module_name(class='form-control',  autocomplete="off") }}
                    <div class="alert-std alert-warning" style="display:none;" role="alert" id="alert_mod_add">
                    </div>
                    <div class="alert-std alert-warning" style="display:none;" role="alert" id="alert_mod_details">
                        <b>Logs</b>
                        <ul id="details_list">
                        </ul>
                    </div>
                </div>

                <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                id="submit_new_module">Validate module</button>

        </form>
    </div>

</div>
