.login-pf body {
    background: linear-gradient(-45deg, #06418E, #1572E8)
}

.login-pf-page {
    font-weight: bold;
}

.pf-c-form-control {
    --pf-global--primary-color--100: unset;
}

#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
