[submodule "iris-backend"]
	path = iris-backend
	url = https://github.com/dfir-iris/iris-backend.git
	branch = develop
[submodule "iris-frontend"]
	path = iris-frontend
	url = https://github.com/dfir-iris/iris-frontend.git
	branch = master
