<html class="" lang="en"><head>

  <meta charset="UTF-8">
  <title>IRIS Demonstration</title>

  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&amp;display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/css/demo-landing.css">

</head>
  <body>
  	<div class="wrapper">
        <div class="mt-2 row glitch">
            <div class="col line d-flex justify-content-center">
                <a href="/" class="logo ml-2 text-center">
                    <img src="/static/assets/img/logo-alone-2-blue.png" alt="navbar brand" class='image-update navbar-brand' width="50">
                </a>
            </div>
            <div class="col line d-flex justify-content-center">
                <a href="/" class="logo ml-2 text-center">
                    <img src="/static/assets/img/logo-alone-2-blue.png" alt="navbar brand" class='image-update navbar-brand' width="50">
                </a>
            </div>
            <div class="col line d-flex justify-content-center">
                <a href="/" class="logo ml-2 text-center">
                    <img src="/static/assets/img/logo-alone-2-blue.png" alt="navbar brand" class='image-update navbar-brand' width="50">
                </a>
            </div>
            <div class="col line d-flex justify-content-center">
                <a href="/" class="logo ml-2 text-center">
                    <img src="/static/assets/img/logo-alone-2-blue.png" alt="navbar brand" class='image-update navbar-brand' width="50">
                </a>
            </div>
            <div class="col line d-flex justify-content-center">
                <a href="/" class="logo ml-2 text-center">
                    <img src="/static/assets/img/logo-alone-2-blue.png" alt="navbar brand" class='image-update navbar-brand' width="50">
                </a>
            </div>
            <div class="col line d-flex justify-content-center">
                <a href="/" class="logo ml-2 text-center">
                    <img src="/static/assets/img/logo-alone-2-blue.png" alt="navbar brand" class='image-update navbar-brand' width="50">
                </a>
            </div>
            <div class="col line d-flex justify-content-center">
                <a href="/" class="logo ml-2 text-center">
                    <img src="/static/assets/img/logo-alone-2-blue.png" alt="navbar brand" class='image-update navbar-brand' width="50">
                </a>
            </div>
        </div>
		<div class="main-panel">
          <div class="row">
            <div class="glitch ml-auto mr-auto">
                <div class="line"><span class="text-danger">DFIR-IRIS</span></div>
              <div class="line"><span class="text-danger">DFIR-IRIS</span></div>
              <div class="line"><span class="text-danger">DFIR-IRIS</span></div>
              <div class="line"><span class="text-danger">DFIR-IRIS</span></div>
              <div class="line">PWN ME</div>
              <div class="line"><span class="text-primary">DFIR-IRIS</span></div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
            </div>
         </div>
         <div class="row">
            <h5 class="text-white ml-auto mr-auto">demonstration instance <span class="text-muted">{{ iris_version }}</span></h5>
         </div>
        <div class="row mt-4">
        </div>
         <div class="row mt-4">
            <h3 class="text-white ml-auto mr-auto"><span class="text-warning">This is a shared instance</span></h3><br/>
         </div>
         <div class="row">
             <h5 class="text-muted ml-auto mr-auto">It can be used to try out IRIS and security vulnerabilities discovery</h5><br/>
         </div>
         <div class="row">
             <h5 class="text-white ml-auto mr-auto">Please read carefully the following</h5><br/>
         </div>
         <div class="row mt-4">
            <h4 class="text-white ml-auto mr-auto">Do not upload any illegal or confidential materials</h4>
         </div>
         <div class="row mt-2">
            <h4 class="text-white ml-auto mr-auto">Do not blindly download and open files from other users</h4>
         </div>
         <div class="row mt-2 mb-2">
            <h4 class="text-white ml-auto mr-auto">Respect a <a class="text-muted" href="">responsible disclosure</a> of 30 days</h4>
         </div>
         <div class="row mt-4">
         </div>
        <div class="row mt-2">
            <div class="col-2"></div>
            <div class="col-8 ml-4">
                <p class="text-white ml-auto mr-auto"><b>If you notice anything suspicious</b>, please <a href="mailto:contact@dfir-iris.org">contact us</a> immediately. We're monitoring but we might miss some.</p>
                <p class="text-white ml-auto mr-auto"><b>If you find a vulnerability</b>, please contact us before going public as it may impact systems in production.
                    In other words, please respect a responsible disclosure of 30 days. We will patch and then publish the vulnerability. It will have your name except if you don't want to. You can report anything you find at <a href="mailto:contact@dfir-iris.org">contact@dfir-iris.org</a></p>
                <p class="text-white ml-auto mr-auto"><b>The scope of the security test</b> is limited to the Web Application IRIS hosted on <a class="text-white" href="d1.beta.dfir-iris.org">d1.beta.dfir-iris.org</a>. <b class="text-danger">Subdomains, scanning the IP, BF the SSH, and other flavors are out of scope.</b></p>

            </div>
            <div class="col-2"></div>
        </div>
        </div>
      </div>
  </body>
</html>