<html class="" lang="en"><head>

  <meta charset="UTF-8">
  <title>IRIS Demonstration</title>

  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&amp;display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/css/demo-landing.css">

</head>
  <body>
  	<div class="wrapper">
		<div class="main-panel">
          <div class="row">
            <div class="glitch ml-auto mr-auto">
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">Pwn-Me</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
              <div class="line">DFIR-IRIS</div>
            </div>
         </div>
         <div class="row">
            <h4 class="text-white ml-auto mr-auto">demonstration instance <small>{{ iris_version }}</small></h4>
         </div>
        </div>
      </div>
  </body>
</html>