{% if attributes and attributes|length > 0 %}
<div class="row text-center mr-4">
        <ul class="nav nav-pills nav-default mr-4" id="pills-tab-without-border" role="tablist">
        <li class="nav-item">
            <a class="nav-link active show" id="pills-home-tab-nobd" data-toggle="pill" href="#details" role="tab" aria-controls="pills-home-nobd" aria-selected="false">Info</a>
        </li>

        {% for ca in attributes %}
            <li class="nav-item submenu">
                <a class="nav-link"  data-toggle="pill" href="#{{ loop.index }}_{{  ca.lower() | replace(' ', '_' ) }}" role="tab" aria-selected="false">{{ca}}</a>
            </li>
        {% endfor %}

    </ul>
</div>
{% endif %}