                <div class="secondary-header">
                    <div class="nav-bottom ">
                        <div class="container-fluid float-left">
                            <div class="row">
                                <div class="col col-md-ml-12 col-sm-12">
                                    <ul class="nav page-navigation page-navigation-style-2 page-navigation-primary">
                                        <li class="nav-item {{ active if page == 'case' }}">
                                            <button class="btn btn-sm btn-light" href="#" onclick="case_detail('{{ case.case_id }}');">
                                                <i class="fa-solid fa-gear mr-1"></i>
                                                <span class="">Manage</span>
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <div class="dropdown">
                                              <button class="btn btn-sm btn-light float-left ml-2" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                  <span aria-hidden="true"><i class="fa-solid fa-bolt mr-1"></i> Processors</span>
                                              </button>
                                              <div class="dropdown-menu pull-right" id="case_modal_quick_actions" aria-labelledby="dropdownMenuButton">
                                              </div>
                                         </div>
                                        </li>
                                        <li class="nav-item">
                                                <button class="btn btn-sm btn-light float-left ml-2" id="case_pipeline" onclick="case_pipeline_popup();">
                                                                                    <span aria-hidden="true"><i class="fa-solid fa-upload mr-1"></i>Pipelines</span>
                                                </button>
                                        </li>
                                        <li class="nav-item ml-auto">
                                                                                    {% if case.review_status.status_name == "Not reviewed" or not case.review_status %}
                                                <button class="btn btn-sm btn-light float-left ml-2" id="request_review">
                                                                                    <span aria-hidden="true"><i class="fa-solid fa-clipboard-check mr-1"></i>Request review</span>
                                                </button>
                                        {% endif %}
                                            <btn href="#" onclick="report_template_selector();" class="btn btn-dark btn-sm float-right ml-2">
                                              <span class="btn-label">
                                                <i class="fa fa-file-arrow-down"></i>
                                              </span>
                                              Generate report
                                            </btn>
                                            <btn href="#" onclick="act_report_template_selector();" class="btn btn-sm btn-dark float-right ml-2">
                                              <span class="btn-label">
                                                <i class="fa fa-chart-line"></i>
                                              </span>
                                              Activity report
                                            </btn>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>