<div class="modal shortcut_modal bg-shadow-gradient" id="shortcutModal" tabindex="-1" aria-labelledby="shortcutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shortcutModalLabel">Shortcuts</h5>
        <button type="button" class="pull-right btn bg-transparent" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true"><i class="fa fa-times"></i></span></button>
        </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Shortcut</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CTRL-S</td>
              <td>Save note</td>
            </tr>
            <tr>
              <td>CTRL-B</td>
              <td>Bold</td>
            </tr>
            <tr>
              <td>CTRL-I</td>
              <td>Italic</td>
            </tr>
            <tr>
              <td>CTRL-SHIFT-1</td>
              <td>Heading 1</td>
            </tr>
            <tr>
              <td>CTRL-SHIFT-2</td>
              <td>Heading 2</td>
            </tr>
            <tr>
              <td>CTRL-SHIFT-3</td>
              <td>Heading 3</td>
            </tr>
            <tr>
              <td>CTRL-SHIFT-4</td>
              <td>Heading 4</td>
            </tr>
            <tr>
              <td>CTRL-`</td>
              <td>Insert code</td>
            </tr>
            <tr>
              <td>CTRL-K</td>
              <td>Insert link</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
