<div class="modal-header">
    <h4 class="modal-title mt-2 mr-4">{% if ioc.ioc_id %}Edit {% else %} Add {% endif %} IOC</h4>
    {% if ioc.ioc_id %}

        <div class="row text-center">
                <ul class="nav nav-pills nav-default nav-pills" id="pills-tab-without-border" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" id="pills-home-tab-nobd" data-toggle="pill" href="#details" role="tab" aria-controls="pills-home-nobd" aria-selected="false">Info</a>
                </li>

                {% for ca in attributes %}
                    <li class="nav-item submenu">
                        <a class="nav-link" id="pills-profile-tab-nobd" data-toggle="pill" href="#{{ ca }}" role="tab" aria-controls="pills-profile-nobd" aria-selected="false">{{ca}}</a>
                    </li>
                {% endfor %}

            </ul>
    </div>

    <div class="row text-right">
     <div class="dropdown">
          <button class="btn btn-white pull-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span aria-hidden="true"><i class="fas fa-ellipsis-v"></i></span>
          </button>
          <div class="dropdown-menu pull-right" id="ioc_modal_quick_actions" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#" onclick='copy_object_link({{ioc.ioc_id}});return false;'><i class="fa fa-share mr-2"></i>Share</a>
          </div>
     </div>
    {% endif %}
        <button type="button" class="pull-right btn btn-white" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true"><i class="fa fa-times"></i></span></button>
    </div>
</div>
<div class="modal-body">
    <div role="tabpanel">

          <div class="tab-content">
                <div class="tab-pane active" id="details">
                <div class="container col-md-12">
                    <form method="post" action="" id="form_new_ioc">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            {{ form.hidden_tag() }}
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="ioc_type" class="mr-4">Type *
                                    </label>
                                    {{ form.ioc_type_id(class="selectpicker pl--6 col-10") }}
                                </div>
                                <div class="col-6">
                                    <label for="ioc_type" class="mr-4">TLP *
                                    </label>
                                    {{ form.ioc_tlp_id(class="selectpicker pl--6 col-10") }}
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="ioc_value" class="placeholder">{{ form.ioc_value.label.text }} *</label>
                                {{ form.ioc_value(class='form-control col-md-12 col-sm-12 sizable-textarea',  autocomplete="off") }}
                            </div>
                            <div class="form-group mt-3">
                                <label for="ioc_description" class="placeholder">{{ form.ioc_description.label.text }}</label>
                                {{ form.ioc_description(class='form-control sizable-textarea',  autocomplete="off") }}
                            </div>
                            <div class="form-group mt-3">
                                <label for="ioc_tags">IOC tags
                                </label>
                                <input type="text" id="ioc_tags"
                                    class="form-control col-md-12" {% if ioc.ioc_tags %} value="{{ ioc.ioc_tags }}" {% endif %}/>
                            </div>
                        <div class='invalid-feedback' id='ioc-invalid-msg'></div>
                        </div>
                    </form>
                </div>
            </div>

              {% for ca in attributes %}
              <div class="tab-pane" id="{{ ca }}">
                  {% for cle in attributes[ca] %}
                        <div class="form-group row">
                            <div class="col-6">
                                <label for="ioc_type" class="mr-4">{{ cle }}
                                </label>
                                <input type="text" id="{{ cle }}"
                                    class="form-control col-md-12"/>
                            </div>
                        </div>
                   {% endfor %}
              </div>
              {% endfor %}
          </div>
            {% if ioc.ioc_id %}
                <button type="button" class="btn btn-outline-danger mt-5"
                onclick="delete_ioc('{{ ioc.ioc_id }}');">Delete</button>
                <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                onclick="update_ioc('{{ ioc.ioc_id }}');">Update</button>

            {% else %}

                <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                id="submit_new_ioc">Save</button>

            {% endif %}
    </div>
<script>
    $('form#form_new_ioc').validate();
    $('#ioc_tags').amsifySuggestags({
        printValues: false,
        suggestions: [ {% for tag in tags %} '{{ tag }}', {% endfor %} ]
    });

    $('#ioc_type_id').selectpicker({
        liveSearch: true,
        title: "None",
        style: "Bootstrap 4: 'btn-outline-primary'",
        size: 10
    });

    $('#ioc_tlp_id').selectpicker({
        liveSearch: true,
        title: "None",
        style: "Bootstrap 4: 'btn-outline-primary'",
    });

    {% if ioc.ioc_id %}
        $('#ioc_type_id').selectpicker('val', '{{ioc.ioc_type_id}}');
        $('#ioc_tlp_id').selectpicker('val', '{{ioc.ioc_tlp_id}}');
    {% else %}
        $('#ioc_tlp_id').selectpicker('val', '2');
    {% endif %}
</script>