<div class="modal-header">
    <h4>Edit registered file</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

    <div class="container col-md-12">
        <form method="post" action="" id="form_edit_rfile">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="form-group">
                    <label for="rfile_filename" class="placeholder">Filename</label>
                    <input class="form-control" placeholder="Filename" id="filename" required name="filename" value="{{ rfile.filename }}"/>
                </div>
                <div class="form-group">
                    <label for="rfile_size" class="placeholder">File size (bytes)</label>
                    <input class="form-control" placeholder="Size in bytes" id="file_size" name="file_size" value="{{ rfile.file_size }}"/>
                </div>
                <div class="form-group">
                    <label for="rfile_hash" class="placeholder">File Hash</label>
                    <input class="form-control" placeholder="Hash" id="file_hash" name="file_hash" value="{{ rfile.file_hash }}"/>
                </div>
                <div class="form-group">
                    <label for="rfile_desc" class="placeholder">File description</label>
                    <input class="form-control" placeholder="Description" id="file_description" name="file_description" value="{{ rfile.file_description }}"/>
                </div>

            </div>
                <button type="button" class="btn btn-outline-danger mt-5"
                onclick="delete_rfile('{{ rfile.id }}');">Delete</button>
                <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                onclick="update_rfile('{{ rfile.id }}');" id="submit_new_rfiles">Update</button>
        </form>
    </div>
</div>