{% extends "layouts/default.html" %}

{% block title %} Access Control {% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/css/suggestags.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap-multiselect.min.css">
{% endblock stylesheets %}

{% block content %}

{% if current_user.is_authenticated %}
{{ form.hidden_tag() }}
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-heading">
                            <div class="card-title">Users audit</div>
                        </div>
                        <div class="col">
                           <button class="btn btn-sm btn-icon btn-round btn-primary-success float-right ml-3" onclick="add_user();"><i class="fas fa-plus-circle"></i></button>
                            <button type="button" class="btn btn-sm btn-icon btn-round btn-outline-black float-right" onclick="refresh_users(true);">
                                <i class="fas fa-sync rotate"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="">
                    <div class="container" id="user_audit_content">

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal_access_control" data-backdrop="true">
</div>
<div class="modal bg-shadow-gradient" tabindex="-1" role="dialog" id="modal_ac_additional" data-backdrop="true">
</div>
{% endblock content %}

{% block javascripts %}

    <script src="/static/assets/js/plugin/select/bootstrap-multiselect.min.js"></script>
    <script src="/static/assets/js/iris/common.js"></script>
    <script src="/static/assets/js/iris/manage.audit.users.js"></script>

{% endblock javascripts %}