{% extends "layouts/default.html" %}

{% block title %} Access Control {% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/css/suggestags.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/assets/css/select2.css">
{% endblock stylesheets %}

{% block content %}

{{ form.hidden_tag() }}
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-heading">
                            <div class="card-title">Cases audit</div>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="">
                    <div class="row">
                        <div class="col-12">
                                <div class="input-group mb-3">
                                    <select id="cases_audit_select" name="cases_audit_select" class="form-control ml-12"
                                            tabindex="-1" style="width: 50%"></select>
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-success" id="get_cases_audit_btn"
                                            onclick="get_case_audit_page();">Audit</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
            </div>
            <div id="cases_audit_content">
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

    <script src="/static/assets/js/plugin/datatables/dataTables.select.min.js"></script>
    <script src="/static/assets/js/iris/common.js"></script>
    <script src="/static/assets/js/iris/manage.audit.cases.js"></script>
    <script src="/static/assets/js/iris/datatablesUtils.js"></script>

{% endblock javascripts %}