<div class="modal-lg modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-2 mr-4">Manage cases access</h4>
            <div class="row text-right">
                <button type="button" class="pull-right btn bg-transparent" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true"><i class="fa fa-times"></i></span></button>
            </div>
        </div>
        <div class="modal-body">
            <div class="container col-md-12" >
                <div class="row">
                    <div class="form-group" data-select2-id="7">
                        <label>Add a new case to this organisation *</label>
                        <div class="col-12">
                            <select id="org_case_access_select" name="org_case_access_select" class="form-control select2-hidden-accessible ml-12"
                                     tabindex="-1" aria-hidden="true" style="width: 100%">
                            </select>
                            <select id="org_case_ac_select" name="org_case_ac_select" class="form-control select2-hidden-accessible ml-12" multiple="multiple"
                                     tabindex="-1" aria-hidden="true" style="width: 100%">
                            </select>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                    id="save_case_access">Save</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
var data = [];
if (current_org_cases_access_list === undefined) {
    refresh_organisation_cac('{{ org.org_id }}');
}

for (cse in current_org_cases_access_list) {
    data.push({
        label: `${current_org_cases_access_list[cse].case_name}`,
        value: current_org_cases_access_list[cse].case_id
    });
}

$('#org_case_access_select').multiselect({
    buttonWidth: 400,
    nonSelectedText: 'Select members',
    includeSelectAllOption: true,
    enableFiltering: true,
    enableCaseInsensitiveFiltering: true,
    filterPlaceholder: 'Search',
    filterBehavior: 'both',
    widthSynchronizationMode: 'ifPopupIsSmaller'
});

$('#org_case_access_select').multiselect('dataprovider', data);

$('#org_case_access_select').multiselect('refresh')

$('#org_case_access_select').multiselect({
    nonSelectedText: 'Select access level',
    includeSelectAllOption: true,
    enableFiltering: true,
    enableCaseInsensitiveFiltering: true,
    filterPlaceholder: 'Search',
    filterBehavior: 'both',
    widthSynchronizationMode: 'ifPopupIsSmaller'
});

$('#org_case_ac_select').multiselect('dataprovider', [{% for acc in access_levels %}
 { label: "{{ acc.name }}", value: {{ acc.value  }} }, {% endfor %}]);

$('#org_case_ac_select').multiselect('refresh');
</script>