{% extends "layouts/default.html" %}

{% block title %} Manage Customers {% endblock title %}

{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/css/suggestags.css">

{% endblock stylesheets %}

{% block content %}

    {% if current_user.is_authenticated %}
    {{ form.hidden_tag() }}
		<div class="page-inner">
			    <a class="mb-2 ml-1 text-dark" href="/manage/customers?cid={{ session['current_case'].case_id }}"><i class="fa-solid fa-arrow-left"></i> Back</a>
				<div class="mt-2 mb-4">
					<h2 class="pb-2">Customer > {{ customer.customer_name }}</h2>
				</div>
				<input id="customer_id" style="display:none;" value="{{ customer.customer_id }}"/>
					<div class="row">
						<div class="col-md-2">
							<div class="card card-dark bg-success-gradient">
								<div class="card-body pb-0">
									<div class="h1 fw-bold float-right"></div>
									<h2 id="current_open_cases" class="mb-2">0</h2>
									<p>Current open cases</p>
									<div class="pull-in sparkline-fix chart-as-background">
										<div id="chart_current_open_cases"><canvas style="display: inline-block; width: 352.333px; height: 70px; vertical-align: top;" width="352" height="70"></canvas></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="card card-dark bg-info-gradient">
								<div class="card-body pb-0">
									<div class="h1 fw-bold float-right"></div>
									<h2 id="cases_rolling_week" class="mb-2">0</h2>
									<p>Rolling week</p>
									<div class="pull-in sparkline-fix chart-as-background">
										<div id=""><canvas style="display: inline-block; width: 352.333px; height: 70px; vertical-align: top;" width="352" height="70"></canvas></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="card card-dark bg-info-gradient">
								<div class="card-body pb-0">
									<div class="h1 fw-bold float-right"></div>
									<h2 id="cases_rolling_month" class="mb-2">0</h2>
									<p>Rolling month</p>
									<div class="pull-in sparkline-fix chart-as-background">
										<div id="chart_month_cases"><canvas style="display: inline-block; width: 352.333px; height: 70px; vertical-align: top;" width="352" height="70"></canvas></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="card card-dark bg-info-gradient">
								<div class="card-body pb-0">
									<div class="h1 fw-bold float-right"></div>
									<h2 id="cases_rolling_year" class="mb-2">0</h2>
									<p>Rolling year</p>
									<div class="pull-in sparkline-fix chart-as-background">
										<div id="chart_year_cases"><canvas style="display: inline-block; width: 352.333px; height: 70px; vertical-align: top;" width="352" height="70"></canvas></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="card card-dark bg-primary-gradient">
								<div class="card-body pb-0">
									<div class="h1 fw-bold float-right"></div>
									<h2 id="cases_last_year" class="mb-2">0</h2>
									<p>Opened in <span id="last_year"></span></p>
									<div class="pull-in sparkline-fix chart-as-background">
										<div><canvas style="display: inline-block; width: 352.333px; height: 70px; vertical-align: top;" width="352" height="70"></canvas></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="card card-dark bg-primary-gradient">
								<div class="card-body pb-0">
									<div class="h1 fw-bold float-right"></div>
									<h2 id="cases_total" class="mb-2">0</h2>
									<p>Total</p>
									<div class="pull-in sparkline-fix chart-as-background">
										<div><canvas style="display: inline-block; width: 352.333px; height: 70px; vertical-align: top;" width="352" height="70"></canvas></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
    {% endif %}

{% endblock content %}

{% block javascripts %}

    <script src="/static/assets/js/iris/manage.customers.js"></script>
    <script src="/static/assets/js/iris/view.customers.js"></script>
    <script src="/static/assets/js/iris/common.js"></script>

{% endblock javascripts %}