<div class="modal-header">
    <h4>Edit attribute {{ attribute.attribute_display_name }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

        <div class="container col-md-12">
        <form method="post" action="" id="form_new_attribute" enctype="multipart/form-data">
            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="Attribute content" class="mr-4">Attribute content
                    </label>
                    {{ form.attribute_content(class='form-control',  autocomplete="off") }}
                </div>

                <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                id="submit_new_attribute">Update</button>

            </div>
        </form>
    </div>

</div>
