<div class="modal-header">
    <h4>Add User</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

        <div class="container col-md-12">
        <form method="post" action="" id="form_new_user">
            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="asset_type" class="mr-4">Full name
                    </label>
                    {{ form.user_name(class='form-control',  autocomplete="off") }}
                </div>
                <div class="form-group mt-3">
                    <label for="asset_description" class="placeholder">Login</label>
                    {{ form.user_login(class='form-control',  autocomplete="off") }}
                </div>
                <div class="form-group mt-3">
                    <label for="asset_description" class="placeholder">Email</label>
                    {{ form.user_email(class='form-control',  autocomplete="off") }}
                </div>
                <div class="form-group mt-3">
                    <label for="asset_description" class="placeholder">Password</label>
                    {{ form.user_password(class='form-control',  autocomplete="off") }}
                </div>
                <div class="form-check mt-3">
                    <label class="form-check-label">
                        {{ form.user_isadmin(class="form-check-input", type="checkbox") }}
                        <span class="form-check-sign">Is admin</span>
                    </label>
                </div>
            </div>
            {% if user.id %}
                <button type="button" class="btn btn-danger mt-5"
                onclick="delete_user('{{ user.id }}');">Delete</button>
                {% if user.active %}
                <button type="button" class="btn btn-outline-danger mt-5"
                onclick="deactivate_user('{{ user.id }}');">Deactivate</button>
                {% else %}
                <button type="button" class="btn btn-outline-success mt-5"
                onclick="activate_user('{{ user.id }}');">Activate</button>
                {% endif %}
                <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                id="submit_new_user">Update</button>

            {% else %}

                <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"
                id="submit_new_user">Save</button>

            {% endif %}
        </form>
    </div>

</div>
