<div class="modal-header">
    <h4>{% if customer.client_id %}Edit {% else %}Add{% endif %} Customer</h4>
    {% include 'modals/modal_attributes_nav.html' %}
    <div class="row text-right">
            <button type="button" class="pull-right btn bg-transparent" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true"><i class="fa fa-times"></i></span></button>
    </div>
</div>
<div class="modal-body">
    <div role="tabpanel">
          <div class="tab-content">
                <div class="tab-pane active" id="details">
                    <div class="container col-md-12">
                        <form method="post" action="" id="form_new_customer" enctype="multipart/form-data">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <label for="customer" class="mr-4">Name</label>
                                    {{ form.customer_name(class='form-control',  autocomplete="off") }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% include 'modals/modal_attributes_tabs.html' %}
          </div>
            {% if customer.client_id %}
            <button
                    type="button"
                    class="btn btn-outline-danger mt-5"
                    onclick="delete_customer('{{ customer.client_id }}');"
            >
                Delete
            </button>
            <button
                    type="button"
                    class="btn btn-outline-success ml-4 mt-5 float-right"
                    id="submit_new_customer"
            >
                Update
            </button>

        {% else %}

            <button
                    type="button"
                    class="btn btn-outline-success ml-4 mt-5 float-right"
                    id="submit_new_customer"
            >
                Save
            </button>

        {% endif %}
    </div>
</div>
