{% set attributes = data.custom_attributes %}
<div class="modal-header">
    <div class="col md-12">
        <div class="row">
            <div class="col align-self-center">
                <h4 class="modal-title mr-4">{{ data.case_name|unquote }}</h4>
            </div>

            <div class="row text-center">
                    <ul class="nav nav-pills nav-default mr-4" id="pills-tab-custom-attr" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="pills-home-tab-nobd" data-toggle="pill" href="#details" role="tab" aria-controls="pills-home-nobd" aria-selected="false">Info</a>
                    </li>
                    <li class="nav-item submenu">
                        <a class="nav-link"  data-toggle="pill" href="#case-info-access" role="tab" aria-controls="case-info-access" aria-selected="false">Access</a>
                    </li>
                    {% if attributes and attributes|length > 0 %}
                        {% for ca in attributes %}
                            <li class="nav-item submenu">
                                <a class="nav-link"  data-toggle="pill" href="#{{page_uid}}{{ loop.index }}_{{  ca.lower() | replace(' ', '_' ) }}" role="tab" aria-controls="{{page_uid}}{{ loop.index }}_{{  ca.lower() | replace(' ', '_' ) }}" aria-selected="false">{{ca}}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="col ">
                <div class="row float-right">
                    <button type="button" class="float-right btn bg-transparent" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true"><i class="fa fa-times"></i></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="container col-md-12">
        <div role="tabpanel">
          <div class="tab-content">
              <div class="tab-pane active" id="details">
                <div id="case_gen_info_content">
                    <h4>General info <i class="ml-2 fa-solid fa-pen-to-square" onclick="edit_case_info();"></i></h4>
                    <div class="row">
                        <div class="col-6 col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Case name :</label>
                            <span type="text" class="">{{ data.case_name|unquote }}</span>
                        </div>
                        <div class="form-group mt--3">
                            <label>Case description :</label>
                            <span type="text" class="">{{ data.case_description[0:50] }}</span>
                        </div>
                        <div class="form-group mt--3">
                            <label>Customer :</label>
                            <span type="text" class="text-faded">{{ data.customer_name }}</span>
                        </div>
                        <div class="form-group mt--3">
                            <label>Status :</label>
                            {% if data.close_date %}
                                <span type="text" class="text-faded text-danger">Closed</span>
                                {% else %}
                                <span type="text" class="text-faded text-success">Open</span>
                            {% endif %}
                        </div>
                        <div class="form-group mt--3">
                            <label>Open date :</label>
                            <span type="text" class="">{{ data.open_date }}</span>
                        </div>
                        {% if data.close_date %}
                            <div class="form-group mt--3">
                                <label>Close date :</label>
                                <span type="text" class="">{{ data.close_date }}</span>
                            </div>
                        {% endif %}
                        <div class="form-group mt--3">
                            <label>SOC ID :</label>
                            <span type="text" class="text-faded">{{ data.case_soc_id }}</span>
                        </div>
                        <div class="form-group mt--3">
                            <label>Case ID :</label>
                            <span type="text" class="text-faded">{{ data.case_id }}</span>
                        </div>
                        <div class="form-group mt--3">
                            <label>Case UUID :</label>
                            <span type="text" class="text-faded">{{ data.case_uuid }}</span>
                        </div>
                    </div>
                        <div class="col-6 col-xs-12 col-md-6">
                            <div class="form-group mt--3">
                                <label>Opening user :</label>
                                <span type="text" class="">{{ data.open_by_user }}</span>
                            </div>
                            {% if protagonists %}
                                {% for protagonist in protagonists %}
                                    <div class="form-group mt--3">
                                        <label>{{ protagonist.role }}</label>
                                        <span type="text" class="">{{ protagonist.user_name }}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="case_gen_info_edit" style="display:none;">
                    <div class="col-md-12 col-lg-6 col-sm-12">
                        <h4 class=" pb-3">Edit case information</h4>
                        <form method="post" action='' id="form_update_case" autocomplete="off">
                            {{ form.hidden_tag() }}
                            <div class="mt-4">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Case name  <i class="ml-2">{{"#{} - ".format(data.case_id)}}</i></span>
                                    </div>
                                     <input type="text" class="form-input" name="case_name" value="{{ data.case_name.replace('#{} - '.format(data.case_id), '')}}">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">SOC ticket ID</span>
                                    </div>
                                    <input type="text" class="form-input" name="case_soc_id" value="{{ data.case_soc_id }}">
                                </div>

                                <button type="button" class="btn btn-sm btn-outline-dark mr-2" id="add_protagonist"  onclick="add_protagonist();">Add protagonist</button>

                                {% if protagonists %}
                                    {% for protagonist in protagonists %}
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ protagonist.role }}</span>
                                            </div>
                                            <input type="text" class="form-input" name="case_soc_id" value="{{ protagonist.user_name }}">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </form>
                    </div>
                </div>
              </div>
              <div class="tab-pane" id="case-info-access">
                    <div class="card-title">Case access</div>
                      <div class="row mt-4">
                          <div class="col">
                              <table class="table display table-bordered table-striped table-hover responsive" width="100%" cellspacing="0" id="case_access_users_list_table" >
                                <thead>
                                  <tr>
                                      <th>User ID</th>
                                      <th>User login</th>
                                      <th>User display name</th>
                                  </tr>
                                </thead>
                                <tfoot>
                                  <tr>
                                      <th>User ID</th>
                                      <th>User login</th>
                                      <th>User display name</th>
                                  </tr>
                                </tfoot>
                              </table>
                          </div>
                  </div>
              </div>
              {% include 'modals/modal_attributes_tabs.html' %}
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    {% if not data.close_date %}
        <button type="button" class="btn btn-outline-success" onclick="close_case('{{ data.case_id }}');">Close case</button>
    {% else %}
        <button type="button" class="btn btn-outline-success" onclick="reopen_case('{{ data.case_id }}');">Reopen case</button>
    {% endif %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
    <button type="button" class="btn btn-outline-danger mr-2" style="display:none;" id="cancel_case_info"  onclick="cancel_case_edit();">Cancel</button>
    <button type="button" class="btn btn-outline-success mr-2" style="display:none;" id="save_case_info" onclick="save_case_edit({{ data.case_id }});">Save edit</button>
</div>

<script>
var modal_org_table = $("#case_access_users_list_table").DataTable({
        dom: 'Blfrtip',
        "ajax": {
            "url": "/case/users/list?cid={{ data.case_id }}",
            "contentType": "application/json",
            "type": "GET",
            "data": function (d) {
                if (d.status == 'success') {
                    return JSON.stringify(d.data);
                } else {
                    return [];
                }
            }
        },
        aaData: [],
        aoColumns: [
          {
            "data": "user_id",
            "className": "dt-center"
        },
        {
            "data": "user_name",
            "className": "dt-center"
        },
        {
            "data": "user_login",
            "className": "dt-center"
        }
        ],
        filter: true,
        info: true,
        ordering: true,
        processing: true
});
</script>
