<div class="modal-header">
    <div class="col md-12">
        <div class="row">
            <div class="col">
                <h4 class="modal-title mt-1 mr-4">{% if customer.client_id %}Edit customer #{{ customer.client_id }}{% else %}Add customer{% endif %}</h4>
                <small><a class="text-muted">{% if customer.client_uuid %}#{{ customer.client_uuid }}{% endif %}</a></small>
            </div>
            {% include 'modals/modal_attributes_nav.html' %}
            <div class="col ">
                <div class="row float-right">
                    <button type="button" class="pull-right btn bg-transparent" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true"><i class="fa fa-times"></i></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div role="tabpanel">
          <div class="tab-content">
                <div class="tab-pane active" id="details">
                    <div class="container col-md-12">
                        <form method="post" action="" id="form_new_customer" enctype="multipart/form-data">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <label for="customer" class="mr-4">Name *</label>
                                    {{ form.customer_name(class='form-control',  autocomplete="off") }}
                                </div>
                                <div class="form-group">
                                    <label for="description" class="mr-4">Description</label>
                                    {{ form.customer_description(class='form-control',  autocomplete="off") }}
                                </div>
                                <div class="form-group">
                                    <label for="sla" class="mr-4">SLAs</label>
                                    {{ form.customer_sla(class='form-control',  autocomplete="off") }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% include 'modals/modal_attributes_tabs.html' %}
          </div>
            {% if customer.client_id %}
            <button
                    type="button"
                    class="btn btn-outline-danger mt-5"
                    onclick="delete_customer('{{ customer.client_id }}');"
            >
                Delete
            </button>
            <button
                    type="button"
                    class="btn btn-outline-success ml-4 mt-5 float-right"
                    id="submit_new_customer"
            >
                Update
            </button>

        {% else %}

            <button
                    type="button"
                    class="btn btn-outline-success ml-4 mt-5 float-right"
                    id="submit_new_customer"
            >
                Save
            </button>

        {% endif %}
    </div>
</div>
