{% set attributes = data.custom_attributes %}
<div class="modal-header">
    <h4 class="modal-title mt-2 mr-4">{{ data.case_name|unquote }}</h4>
    <button type="button" class="pull-right btn btn-white" data-dismiss="modal" aria-label="Close"><span
        aria-hidden="true"><i class="fa fa-times"></i></span></button>
</div>
<div class="modal-body">

    <div class="container col-md-12">
        <div role="tabpanel">
          <div class="tab-content">
              <div class="tab-pane active" id="details">
                <div class="form-group">
                    <label>Case name :</label>
                    <span type="text" class="">{{ data.case_name|unquote }}</span>
                </div>
                <div class="form-group mt--3">
                    <label>Case description :</label>
                    <span type="text" class="">{{ data.case_description[0:50] }}</span>
                </div>
                <div class="form-group mt--3">
                    <label>Customer :</label>
                    <span type="text" class="text-faded">{{ data.customer_name }}</span>
                </div>
                <div class="form-group mt--3">
                    <label>Status :</label>
                    {% if data.close_date %}
                        <span type="text" class="text-faded text-danger">Closed</span>
                        {% else %}
                        <span type="text" class="text-faded text-success">Open</span>
                    {% endif %}
                </div>
                <div class="form-group mt--3">
                    <label>Open date :</label>
                    <span type="text" class="">{{ data.open_date }}</span>
                </div>
                {% if data.close_date %}
                    <div class="form-group mt--3">
                        <label>Close date :</label>
                        <span type="text" class="">{{ data.close_date }}</span>
                    </div>
                {% endif %}
                <div class="form-group mt--3">
                    <label>Opening user :</label>
                    <span type="text" class="">{{ data.open_by_user }}</span>
                </div>
                <div class="form-group mt--3">
                    <label>SOC ID :</label>
                    <span type="text" class="text-faded">{{ data.case_soc_id }}</span>
                </div>
                <div class="form-group mt--3">
                    <label>Case ID :</label>
                    <span type="text" class="text-faded">{{ data.case_id }}</span>
                </div>
              </div>
          {% if attributes and attributes|length > 0 %}
            {% for ca in attributes %}
             {% set outer_loop = loop %}
              <hr/>
              <h3>{{ ca }}</h3>
                  {% for cle in attributes[ca] %}
                        {% set tag_id = cle.lower() | replace(' ', '_' ) %}
                        <div class="form-group row">
                            <div class="col-12">

                                {% if attributes[ca][cle]["type"] == "input_string" %}
                                 <div class="form-input">
                                    <label for="{{ cle }}">{{ cle }} {% if attributes[ca][cle]['mandatory'] %} * {% endif %}
                                    </label>
                                    <input type="text" id="inpstd_{{ loop.index }}_{{ tag_id }}"
                                           data-attr-for="{{cle}}" data-ref-tab="{{ca}}" class="form-control col-md-12"
                                            {% if  attributes[ca][cle]['value'] %} value="{{ attributes[ca][cle]['value'] }}" {% endif %}
                                            {% if attributes[ca][cle]['mandatory'] %} required {% endif %}
                                     />
                                 </div>
                                {% elif attributes[ca][cle]["type"] == "input_checkbox" %}
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="inpchk_{{ loop.index }}_{{ tag_id }}"
                                                   data-attr-for="{{cle}}" data-ref-tab="{{ca}}" class="form-control col-md-12"
                                                   {% if attributes[ca][cle]['value'] == True %} checked {% endif %}
                                                    {% if attributes[ca][cle]['mandatory'] %} required {% endif %}
                                            />
                                            <span class="form-check-sign"> {{ cle }}{% if attributes[ca][cle]['mandatory'] %} * {% endif %}
                                            </span>
                                        </label>
                                    </div>

                                {% elif attributes[ca][cle]["type"] == "input_textfield" %}
                                    <div class="form-input">
                                        <label for="{{ cle }}">{{ cle }} {% if attributes[ca][cle]['mandatory'] %} * {% endif %}
                                        </label>
                                        <textarea class="form-control" id="inpstd_{{ loop.index }}_{{ tag_id }}"
                                                        data-attr-for="{{cle}}" data-ref-tab="{{ca}}"
                                                        rows="12" style="height:100%;"
                                                  {% if attributes[ca][cle]['mandatory'] %} required {% endif %}
                                        >{{ attributes[ca][cle]['value'] }}</textarea>
                                    </div>

                                {% elif attributes[ca][cle]["type"] == "input_select" %}
                                    <div class="form-inline">

                                          <label class="my-1 mr-2" for="inpselect_{{ loop.index }}_{{ tag_id }}">{{ cle }}</label>
                                          <select class="custom-select my-1 mr-sm-2" id="inpselect_{{ loop.index }}_{{ tag_id }}"
                                          data-attr-for="{{cle}}" data-ref-tab="{{ca}}">
                                          {% for opt in attributes[ca][cle]['options'] %}
                                            <option {% if opt == attributes[ca][cle]['value'] %} selected {% endif %}>{{ opt }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>

                                {% elif attributes[ca][cle]["type"] == "input_date" %}
                                    <div class="form-input">
                                          <label class="my-1 mr-2" for="inpstd_{{ loop.index }}_{{ tag_id }}">{{ cle }} {% if attributes[ca][cle]['mandatory'] %} * {% endif %}</label>
                                          <input type="date" data-attr-for="{{cle}}" data-ref-tab="{{ca}}"
                                            id="inpstd_{{ loop.index }}_{{ tag_id }}" value="{{ attributes[ca][cle]['value'] }}"
                                          {% if attributes[ca][cle]['mandatory'] %} required {% endif %} >
                                    </div>

                                {% elif attributes[ca][cle]["type"] == "input_datetime" %}
                                    <div class="form-input">
                                          <label class="my-1 mr-2" for="inpstd_{{ loop.index }}_{{ tag_id }}">{{ cle }} {% if attributes[ca][cle]['mandatory'] %} * {% endif %}</label>
                                          <input type="datetime-local" data-attr-for="{{cle}}" data-ref-tab="{{ca}}"
                                            id="inpstd_{{ loop.index }}_{{ tag_id }}" value="{{ attributes[ca][cle]['value'] }}"
                                            {% if attributes[ca][cle]['mandatory'] %} required {% endif %}
                                          >
                                    </div>

                                {% elif attributes[ca][cle]["type"] == "raw" %}
                                    <p>{{ cle }}</p>

                                {% elif attributes[ca][cle]["type"] == "html" %}
                                    {{ attributes[ca][cle]['value']| safe }}

                                {% endif %}
                            </div>
                        </div>
                   {% endfor %}
              </div>
              {% endfor %}
        {% endif %}
          </div>
    </div>
</div>
{% if current_user.is_admin %}
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger mr-auto" onclick="remove_case('{{ data.case_id }}');">Remove case</button>
    {% if not data.close_date %}
        <button type="button" class="btn btn-outline-success" onclick="close_case('{{ data.case_id }}');">Close case</button>
    {% else %}
        <button type="button" class="btn btn-outline-success" onclick="reopen_case('{{ data.case_id }}');">Reopen case</button>
    {% endif %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
</div>
{% endif %}