<div class="modal-header">
    <h4>{{ data[0].case_name|unquote }} - Case Basic Information</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

    <div class="container col-md-12">
        <div class="form-group">
            <label>Case name :</label>
            <span type="text" class="">{{ data[0].case_name|unquote }}</span>
        </div>
        <div class="form-group mt--3">
            <label>Case description :</label>
            <span type="text" class="">{{ data[0].description[0:50] }}</span>
        </div>
        <div class="form-group mt--3">
            <label>Customer :</label>
            <span type="text" class="text-faded">{{ data[0].customer_name }}</span>
        </div>
        <div class="form-group mt--3">
            <label>Status :</label>
            {% if data[0].close_date %} 
                <span type="text" class="text-faded text-danger">Closed</span>
                {% else %}
                <span type="text" class="text-faded text-success">Open</span>
            {% endif %}
        </div>
        <div class="form-group mt--3">
            <label>Open date :</label>
            <span type="text" class="">{{ data[0].open_date }}</span>
        </div>
        {% if data[0].close_date %}
            <div class="form-group mt--3">
                <label>Close date :</label>
                <span type="text" class="">{{ data[0].close_date }}</span>
            </div>
        {% endif %}
        <div class="form-group mt--3">
            <label>Opening user :</label>
            <span type="text" class="">{{ data[0].user_name }} ({{ data[0].user }}) </span>
        </div>
        <div class="form-group mt--3">
            <label>SOC ID :</label>
            <span type="text" class="text-faded">{{ data[0].soc_id }}</span>
        </div>
        <div class="form-group mt--3">
            <label>Case ID :</label>
            <span type="text" class="text-faded">{{ data[0].case_id }}</span>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger mr-auto" onclick="remove_case('{{ data[0].case_id }}');">Remove case</button>
    {% if not data[0].close_date %}
        <button type="button" class="btn btn-outline-success" onclick="close_case('{{ data[0].case_id }}');">Close case</button>
    {% else %}
        <button type="button" class="btn btn-outline-success" onclick="reopen_case('{{ data[0].case_id }}');">Reopen case</button>
    {% endif %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
</div>