{% extends "layouts/default.html" %}

{% block title %} DIM Tasks {% endblock title %}

{% block stylesheets %}
<link href="/static/assets/css/dataTables.buttons.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="loader1 text-center ml-mr-auto" id="loading_msg">Loading...</div>
            <div class="card" id="card_main_load" style="display:none;">
                <div class="card-header">
                    <div class="card-title">DFIR-IRIS Modules Tasks
                    <button type="button" class="btn btn-icon btn-round btn-outline-dark float-right ml-2" onclick="get_activities();">
                            <i class="fas fa-sync rotate"></i></button></div>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="activities_table_wrapper">
                        <div class="selectgroup">
                            <span id="table_buttons"></span>
                        </div>
                      <table class="table display table-striped table-hover" width="100%" cellspacing="0" id="activities_table" >
                        <thead>
                          <tr>
                            <th>Task ID</th>
                            <th>State</th>
                            <th>Date ended</th>
                            <th>Case</th>
                            <th>Processing module</th>
                            <th>Initiating user</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Task ID</th>
                            <th>State</th>
                            <th>Date ended</th>
                            <th>Case</th>
                            <th>Processing module</th>
                            <th>Initiating user</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ form.hidden_tag() }}
{% endif %}

{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/plugin/datatables/dataTables.cellEdit.js"></script>
    <script src="/static/assets/js/plugin/datatables/dataTables.buttons.min.js"></script>
    <script src="/static/assets/js/plugin/datatables/buttons.html5.min.js"></script>
    <script src="/static/assets/js/plugin/datatables/buttons.print.min.js"></script>

    <script src="/static/assets/js/iris/datatablesUtils.js"></script>
    <script src="/static/assets/js/iris/dim_tasks.js"></script>
{% endblock javascripts %}