:root {
  font-size: 20px;
  font-family: "Roboto";
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.25);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #333333;
}

a {
  color: white;
  display: inline;
}

p {
    color: white;
}

#error {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #C94D4D;
  -webkit-animation: pulse 4s infinite alternate;
          animation: pulse 4s infinite alternate;
  position: relative;
}
@-webkit-keyframes pulse {
  from {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes pulse {
  from {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
}
#error::before {
  content: "";
  width: 0.75rem;
  height: 50vh;
  margin-bottom: 0.75em;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 60%, transparent 100%);
}

#desc {
  margin: 2em 0 1em;
}

