
{% extends "layouts/static-default.html" %}

{% block title %} 404 Error {% endblock title %}

{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/atlantis.css">
    <link rel="stylesheet" href="/static/assets/css/login/login.css">


{% endblock stylesheets %}

{% block content %}

    <br />
    <br />
    
    <h2 class="mx-5">SORRY!</h2>
    <h3 class="font-weight-light mx-5">The page you’re looking for was not found.</h3>
    {% if msg %}
        <h3 class="text-warning mx-5">
            {{ msg }}
        </h3>
    {% endif %}
{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
