<div class="ds-sidebar" id="ds-sidebar-container">
		<a href="#" class="close-ds-sidebar"  onclick="hide_datastore();">
			<i class="flaticon-cross"></i>
		</a>
		<div class="ds-sidebar-wrapper">
			<ul class="nav nav-tabs nav-line nav-color-primary" role="tablist">
				<li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#ds" role="tab" aria-controls="case"  aria-selected="true">Datastore</a> </li>
			</ul>
			<div class="tab-content mt-3">
				<div class="tab-pane fade show active" id="ds" role="tabpanel">
					<div class="row">

					</div>
					<div class="tree well" id="msg_select_destination_folder" style="display:none;">
						<div class="row">
							<p class="mt-3 ml-3">Select the files and destination folder below. <span id="msg_mv_files" class="text-primary"></span> files selected to be moved to <span id="msg_mv_dst_folder" class="text-primary"></span></p>
							<button type="button" class="btn btn-outline-success ml-auto mr-2" onclick="validate_ds_file_move();">Validate</button>
							<button type="button" class="btn btn-outline-dark mr-4" onclick="reset_ds_file_view();load_datastore();">Cancel</button>
						</div>
					</div>
					<div class="tree well" id="msg_select_destination_folder_folder" style="display:none;">
						<div class="row">
							<p class="mt-3 ml-3">Select a destination folder below. <span id="msg_mv_folder" class="text-primary"></span> selected to be moved to <span id="msg_mv_dst_folder_folder" class="text-primary"></span></p>
							<button type="button" class="btn btn-outline-success ml-auto mr-2" onclick="validate_ds_folder_move();">Validate</button>
							<button type="button" class="btn btn-outline-dark mr-4" onclick="reset_ds_file_view();load_datastore();">Cancel</button>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-10">
							<div class="row">
								<div id='ds_file_search' class="ml-3 pt-2 pl-2" style="width:70%;border-radius:3px;border-color:#fff;background:rgb(234, 234, 234);" ></div>
								<button class="btn btn-sm btn-light ml-2 pt-2" onclick="filter_ds_files();" id="btn_filter_ds_files">
									   Search
								</button>
								<button class="btn btn-sm btn-light ml-2 pt-2" onclick="reset_ds_files_filter();">
									   Reset
								</button>
								<i class="ml-1 mt-1 fa-regular text-dark fa-circle-question" title="Filter help" data-toggle="popover" data-html="true"
                                                                                  data-trigger="hover" style="cursor: pointer;"
                                                                                  data-content="<p>Files can be filtered thanks to simple queries. The query schema is :  <code>target_element:search_value AND target_element2:search_value2</code>.<br/>
                                There is no <code>OR</code> condition and searching without target does not work.
                                <p>The following target elements can be used to filter :</p>
                                <ul>
                                    <li><code>name</code>: Name of the file</li>
                                    <li><code>storage_name</code>: Name of the file on the FS</li>
                                    <li><code>tag</code>: Tag of the file</li>
                                    <li><code>description</code>: Description of the file</li>
                                    <li><code>is_ioc</code> : Set to any value to filter files which are IOCs</li>
                                    <li><code>is_evidence</code>: Set to any value to filter files which are evidences</li>
                                    <li><code>has_password</code>: Set to any value to filter files which have passwords</li>
                                </ul>
                                The dates filters uses the same guessing as the date parser in events, so a lots of format are handled.<br/>
                                Example of filter :
                                <code>name: .exe AND is_ioc: true</code>"></i>
							</div>
						</div>
						<div class="col-2 justify-content-end">
							<button type="button" class="btn btn-sm btn-outline-danger mb-1 float-right mr-3 btn-ds-bulk" style="display:none;" onclick="delete_bulk_ds_file();"><i class="fa fa-trash text-danger mr-1"></i> Delete</button>
							<button type="button" class="btn btn-sm btn-outline-dark float-right mb-1 mr-3 btn-ds-bulk" style="display:none;" onclick="move_ds_file();"><i class="fa-solid fa-arrow-right-arrow-left mr-1"></i> Move</button>
							<button type="button" class="btn btn-sm btn-outline-dark float-right mb-1 mr-3 btn-ds-bulk-selector" onclick="toggle_select_file();"><i class="fa-solid fa-check-double mr-1"></i> Select</button>
						</div>
					</div>
					<div class="tree well" id="ds-tree-container">
						<ul id="ds-tree-root">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="ds-sidebar-container-ctxmenu"></div>
