
 
{% if current_user.is_authenticated %}

  <div class="modal " tabindex="-1" role="dialog" id="modal_switch_context" data-backdrop="true">
      <div class="modal-lg modal-dialog" role="document">
          <div class="modal-content">
            <form method="post" action="" id="form_set_context">
                  <div class="modal-header">
                  <h5>Switch context</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                      <div class="row mb-2">
                          <div class="col-12">
                            <select class="selectpicker form-control btn-outline-white dropdown-submenu" data-show-subtext="true" data-live-search="true" id="user_context">
                            </select>
                          </div>
                      </div>
                     <div class="row mt-4">
                         <div class="col-12 d-flex">
                             <button type="button" class="btn btn-default mr-auto" data-dismiss="modal">Close</button>
                             <button type="button" class="btn btn-outline-success ml-auto" id="submit_set_context">Save</button>
                         </div>
                     </div>
                  </div>
            </form>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal_add_tasklog" data-backdrop="true">
      <div class="modal-lg modal-dialog" role="document">
        <form method="post" action="" id="form_add_tasklog">

          <div class="modal-content">
            <div class="modal-header">
              <h5>Add task log</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <input class="form-control" placeholder="Task log description" id="log_content" name="log_content"/>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-success" id="submit_new_tasklog">Submit</button>
            </div>
          </div><!-- /.modal-content -->
        </form>
      </div><!-- /.modal-dialog -->
    </div>

<div class="modal " tabindex="-1" role="dialog" id="modal_dim_task_detail" data-backdrop="true">
  <div class="modal-xl modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Task info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" id="info_dim_task_modal_body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


{% endif %}