
 
{% if current_user.is_authenticated %}

  <div class="modal " tabindex="-1" role="dialog" id="modal_switch_context" data-backdrop="true">
      <div class="modal-lg modal-dialog" role="document">
          <div class="modal-content">
            <form method="post" action="" id="form_set_context">
                  <div class="modal-header">
                  <h5>Switch context</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                      <div class="row mb-2">
                          <div class="col-12">
                              <div class="form-group">
                                <select class="selectpicker form-control" data-dropup-auto="false" data-live-search="true" id="user_context">
                                </select>
                              </div>
                          </div>
                      </div>
                     <div class="row mt-4">
                         <div class="col-12 d-flex">
                             <button type="button" class="btn btn-default mr-auto" data-dismiss="modal">Close</button>
                             <button type="button" class="btn btn-outline-success ml-auto" id="submit_set_context">Switch</button>
                         </div>
                     </div>
                  </div>
            </form>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="modal_add_case" data-backdrop="true">
        <div class="modal-lg modal-dialog" role="document">
            <div class="modal-content" id="modal_add_case_content">
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="modal_add_tasklog" data-backdrop="true">
      <div class="modal-lg modal-dialog" role="document">
        <form method="post" action="" id="form_add_tasklog">

          <div class="modal-content">
            <div class="modal-header">
              <h5>Add task log</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
              <div class="row mb-2">
                  <div class="col-12">
                    <p class="ml-2">Add a task log that will be registered under activities </p>
                      <textarea class="form-control" placeholder="Log content" id="log_content" name="log_content" rows="3" ></textarea>
                  </div>
              </div>
              <div class="row mt-4">
                 <div class="col-12 d-flex">
                    <button type="submit" class="btn btn-outline-success ml-auto" id="submit_new_tasklog">Submit</button>
                 </div>
             </div>
            </div>
          </div><!-- /.modal-content -->
        </form>
      </div><!-- /.modal-dialog -->
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal_ds_folder" data-backdrop="true">
      <div class="modal-lg modal-dialog" role="document">
        <form method="post" action="" id="form_ds_directory">

          <div class="modal-content">
            <div class="modal-header">
              <h5>Datastore folder</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
              <div class="row mb-2">
                  <div class="col-12">
                    <p class="ml-2">Input the folder name below</p>
                      <input class="form-control" placeholder="Folder name" id="ds_mod_folder_name" name="ds_folder_name">
                  </div>
              </div>
              <div class="row mt-4">
                 <div class="col-12 d-flex">
                    <button class="btn btn-outline-success ml-auto" onclick="save_ds_mod_folder();return false;">Submit</button>
                 </div>
             </div>
            </div>
          </div><!-- /.modal-content -->
        </form>
      </div><!-- /.modal-dialog -->
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal_ds_file" data-backdrop="true">
      <div class="modal-lg modal-dialog" role="document">
          <div class="modal-content" id="modal_ds_file_content">

          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

<div class="modal " tabindex="-1" role="dialog" id="modal_dim_task_detail" data-backdrop="true">
  <div class="modal-xl modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Task info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" id="info_dim_task_modal_body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal" id="saveFilterModal" tabindex="-1" role="dialog" aria-labelledby="saveFilterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveFilterModalLabel">Save Filter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="filterName">Filter Name *</label>
          <input type="text" class="form-control" id="filterName" placeholder="Filter name">
        </div>
        <div class="form-group">
          <label for="filterDescription">Filter Description</label>
          <input type="text" class="form-control" id="filterDescription" placeholder="Filter description">
        </div>
          <div class="form-check">
            <label class="form-check-label mt-3">
                <input checked="" class="form-check-input" id="filterIsPrivate" name="filterIsPrivate" type="checkbox">
                <span class="form-check-sign"> Private Filter
                    <i class="ml-1 mt-1 fa-regular fa-circle-question" title="If checked, the filter will be only visible to you" style="cursor:pointer;"></i>
                </span>
            </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-success" id="saveFilterButton">Save Filter</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal_help" data-backdrop="true">
</div>

{% endif %}