
 
{% if current_user.is_authenticated %}

  <div class="modal fade " tabindex="-1" role="dialog" id="modal_switch_context" data-backdrop="true">
      <div class="modal-lg modal-dialog" role="document">
          <div class="modal-content">
            <form method="post" action="" id="form_set_context">
                  <div class="modal-header">
                  <h5>Switch context</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                  <select class="selectpicker form-control bg-outline-success dropdown-submenu" data-show-subtext="true" data-live-search="true" id="user_context">
                      <optgroup label="Opened">
                        {% for case in cases_context_selector %}
                              <option value="{{ case[2] }}">{{ case[0]|unquote }} ({{ case[1] }})</option>
                        {% endfor %}
                      </optgroup>
                      <optgroup label="Closed">
                        {% for case in cases_close_context_selector %}
                              <option value="{{ case[2] }}">{{ case[0]|unquote }} ({{ case[1] }})</option>
                        {% endfor %}
                      </optgroup>
                  </select>
                  </div>
                  <div class="modal-footer">
                        <button type="button" class="btn btn-border-success" id="submit_set_context">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
            </form>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal_add_tasklog" data-backdrop="true">
      <div class="modal-lg modal-dialog" role="document">
        <form method="post" action="" id="form_add_tasklog">

          <div class="modal-content">
            <div class="modal-header">
              <h5>Add task log</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <input class="form-control" placeholder="Task log description" id="log_content" name="log_content"/>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-success" id="submit_new_tasklog">Submit</button>
            </div>
          </div><!-- /.modal-content -->
        </form>
      </div><!-- /.modal-dialog -->
    </div>


    <div class="modal fade " tabindex="-1" role="dialog" id="modal_add_receivedfile" data-backdrop="true">
      <div class="modal-lg modal-dialog" role="document">
        <form method="post" action="" id="form_add_receivedfile">

          <div class="modal-content">
            <div class="modal-header">
              <h5>Register received file</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="rfile_filename" class="placeholder">Filename</label>
                    <input class="form-control" placeholder="Filename" id="filename" required name="filename" autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label for="rfile_size" class="placeholder">File size (bytes)</label>
                    <input class="form-control" placeholder="Size in bytes" id="file_size" name="file_size" autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label for="rfile_hash" class="placeholder">File Hash</label>
                    <input class="form-control" placeholder="hash" id="file_hash" name="file_hash" autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label for="rfile_desc" class="placeholder">File description</label>
                    <input class="form-control" placeholder="Description" id="file_description" name="file_description" autocomplete="off"/>
                </div>
                <div class="form-group">
                    <p>Automatically compute file information by selecting it below. The file will not be uploaded nor saved.</p>
                    <input id="input_autofill" type="file">
                    <button class="btn btn-sm" type="button" onclick="get_hash()" id="btn_rfile_proc">Process</button>
                </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-success" onclick="add_rfile();">Register</button>
            </div>
          </div><!-- /.modal-content -->
        </form>
      </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade " tabindex="-1" role="dialog" id="modal_upload_ioc" data-backdrop="true">
      <div class="modal-lg modal-dialog" role="document">
        <form method="post" action="" id="form_upload_ioc">

          <div class="modal-content">
            <div class="modal-header">
              <h5>Upload IOC list (CSV format)</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="rfile_desc" class="placeholder">File description</label>
                    <p>The expected CSV must be in this format : </p>
                    <p>&lt;Value&gt;,&lt;Type&gt;,&lt;Description&gt;,&lt;TLP&gt;,Tags separated with &quot;|&quot;</p>
                    <p>Example : </p>
                    <pre>
                      <code>
1.1.1.1,IP,This is a description,green,DontWorryThisIsAnExample|Cloudfare|DNS
8.8.8.8,IP,This is a description,green,DontWorryThisIsAnExample|Google|DNS
9.9.9.9,IP,This is a description,green,DontWorryThisIsAnExample|Quad9|DNS
                    </code>
                    </pre>
                </div>
                  <div class="form-group">
                      <input id="input_upload_ioc" type="file" accept="text/csv">
                  </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-success" onclick="upload_ioc();">Upload</button>
            </div>
          </div><!-- /.modal-content -->
        </form>
      </div><!-- /.modal-dialog -->
    </div>


{% endif %}