
		<div class="main-header">
			
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="blue">
				
				<a href="/" class="logo ml-2">
					<img src="/static/assets/img/logo-white-2.png" alt="navbar brand" class="navbar-brand" width="100">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg  bg-primary-gradient" >
				
				{% if current_user.is_authenticated %}
				<div class="container-fluid">
					<div class="collapse" id="search-nav">
							<div class="input-group">
								{% if current_user.ctx_human_case %}
								<div class="text-light"><a class="text-light" title="Switch case" onclick="load_context_switcher();return false;" href="#"> {{ current_user.ctx_human_case }}</a></div>
								{% else %}
								<div class="text-warning">No context</div>
								{% endif %}
							</div>
					</div>
					{% include 'case-nav.html' %}
					<ul class="navbar-nav topbar-nav align-items-center">

						<li class="nav-item toggle-nav-search hidden-caret">
							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
								<i class="fa fa-search"></i>
							</a>
						</li>
						<li class="nav-item hidden-caret">
							<a class="nav-link" title="Switch case" onclick="load_context_switcher();return false;" href="#" role="button">
								<i class="flaticon-repeat"></i>
							</a>
						</li>
						<li class="nav-item hidden-caret">
							<a class="nav-link" data-toggle="modal" title="Add task log" data-target="#modal_add_tasklog" href="#">
								<i class="flaticon-interface-1"></i>
							</a>
						</li>
						<li class="nav-item hidden-caret">
							<a href="#" class="nav-link quick-sidebar-toggler">
								<i class="flaticon-shapes-1"></i>
							</a>
						</li>
					</ul>
				</div>

				{% endif %}

			</nav>

			<!-- End Navbar -->

		</div>

		
