
		<div class="main-header">
			
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="blue">
				<a href="/dashboard?cid={{ session['current_case'].case_id }}" class="logo ml-2">
					<img src="/static/assets/img/logo-white.png" alt="navbar brand" class="navbar-brand" width="100">

				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg  bg-primary-gradient">
				
				{% if current_user.is_authenticated %}
				<div class="container-fluid">
					<div class="collapse" id="search-nav">
							<div class="input-group">
								{% if session['current_case'] %}
								<div class="text-light"><a class="text-white dropdown hidden-caret submenu" href="#" title="Go to case number" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="setTimeout(focus_on_input_chg_case, 100);">
									<i class="fa-solid fa-leaf mr-2"></i></a>
									<ul class="dropdown-menu dropdown-left messages-notif-box animated shadow-xl" aria-labelledby="messageDropdown">
										<li>
											<div class="ml-2 mr-2 mt-2 mb-2 d-flex justify-content-between align-items-center">
												<div class="input-group">
												  <input type="number" min="1" class="form-control" placeholder="Go to case number #" id="goto_case_number_input" aria-label="Go to case number #">
												   <div class="input-group-append">
													<button class="btn btn-sm btn-outline-dark" type="button" title="Go" onclick="goto_case_number();">Go</button>
												  </div>
												</div>
											</div>
										</li>
									</ul>
									<a class="text-light" title="Switch case" onclick="load_context_switcher();return false;" href="#">{{ session['current_case'].case_name }}</a> {{ session['current_case'].access|safe }}</div>
								{% else %}
								<div class="text-warning" style="cursor:pointer;" title="Switch case" onclick="load_context_switcher();return false;">No context</div>
								{% endif %}
							</div>
					</div>
					<ul class="navbar-nav topbar-nav align-items-center">
						<li class="nav-item toggle-nav-search hidden-caret">
							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
								<i class="fa fa-search"></i>
							</a>
						</li>
						<li class="nav-item hidden-caret">
							<a class="nav-link" title="Switch case" onclick="load_context_switcher();return false;" href="#" role="button">
								<i class="flaticon-repeat"></i>
							</a>
						</li>
						<li class="nav-item hidden-caret">
							<a class="nav-link" data-toggle="modal" title="Add task log" data-target="#modal_add_tasklog" href="#">
								<i class="flaticon-interface-1"></i>
							</a>
						</li>
						<li class="nav-item hidden-caret">
							<a href="#" title="Datastore" class="nav-link ds-sidebar-toggler" onclick="load_datastore();">
								<i class="flaticon-database"></i>
							</a>
						</li>
						<li class="nav-item hidden-caret">
							<a class="nav-link" data-toggle="modal" title="Create case" onclick="load_add_case();">
								<i class="flaticon-add"></i>
							</a>
						</li>
						<li class="nav-item hidden-caret">
							<a href="#" title="Quick actions" class="nav-link quick-sidebar-toggler">
								<i class="flaticon-shapes-1"></i>
							</a>
						</li>
					</ul>
				</div>
				{% endif %}
				
			</nav>
			<!-- End Navbar -->

		</div>
		
