<div class="quick-sidebar">
		<a href="#" class="close-quick-sidebar">
			<i class="flaticon-cross"></i>
		</a>
		<div class="quick-sidebar-wrapper">
			<ul class="nav nav-tabs nav-line nav-color-primary" role="tablist">
				<li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#case" role="tab" aria-controls="case"  aria-selected="true">Case</a> </li>
				<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#activities" aria-controls="activities" role="tab" onclick="load_case_activity();">Activities</a></li>
				<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#dim_tasks" aria-controls="dim_tasks" role="tab" onclick="load_dim_limited_tasks();">DIM Tasks</a></li>

			</ul>
			<div class="tab-content mt-3">
				<div class="tab-chat tab-pane fade" id="activities" role="tabpanel">
					<div class="row">
						<div class="col">
							<button type="button" class="float-right btn btn-round btn-xs btn-icon btn-outline-default mr-3 ml-3" onclick="load_case_activity();">
								<i class="fas fa-sync rotate"></i>
							</button>
							<ol class="activity-feed" id="case_activities">
							</ol>
						</div>
					</div>
				</div>

				<div class="tab-chat tab-pane fade" id="dim_tasks" role="tabpanel">
					<div class="row">
						<div class="col">
							<button type="button" class="float-right btn btn-round btn-xs btn-icon btn-outline-default mr-3 ml-3" onclick="load_dim_limited_tasks();">
								<i class="fas fa-sync rotate"></i>
							</button>
							<ol class="activity-feed" id="dim_tasks_feed">
							</ol>
						</div>
					</div>
				</div>

				<div class="tab-chat tab-pane fade show active" id="case" role="tabpanel">
					<div class="messages-contact">
						<div class="quick-wrapper">
                            <div class="quick-content settings-content">
							<span class="category-title mt-0">Shortcuts</span>
							<div class="quick-actions quick-actions-primary">
								<div class="quick-actions-items">
                                    <div class="quick-actions quick-actions-black">
                                        <div class="row m-0">
                                            <a class="col-11 col-md-11 p-0" title="Export page as PNG" href="#" onclick="exportInnerPng();" role="button">
                                                <div class="quick-actions-item">
                                                    <i class="flaticon-photo-camera"></i>
                                                    <span class="text-dark">Take screenshot of content</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
								<div class="quick-actions-scroll scrollbar-outer">
									<div class="quick-actions-items">
										<div class="row m-0">
											<a class="col-6 col-md-6 p-0" href="/case/ioc?cid={{session['current_case'].case_id}}">
												<div class="quick-actions-item">
													<i class="flaticon-inbox"></i>
													<span class="text">Add IOC</span>
												</div>
											</a>
											<a class="col-6 col-md-6 p-0" href="/case/assets?cid={{session['current_case'].case_id}}">
												<div class="quick-actions-item">
													<i class="flaticon-laptop"></i>
													<span class="text">Add asset</span>
												</div>
											</a>
										</div>
										<div class="row m-0">
											<a class="col-6 col-md-6 p-0" href="/case/notes?cid={{session['current_case'].case_id}}">
												<div class="quick-actions-item">
													<i class="flaticon-file-1"></i>
													<span class="text">Add note</span>
												</div>
											</a>
											<a class="col-6 col-md-6 p-0" href="/case/timeline?cid={{session['current_case'].case_id}}">
												<div class="quick-actions-item">
													<i class="flaticon-stopwatch"></i>
													<span class="text">Add event</span>
												</div>
											</a>
										</div>
                                        <div class="row m-0">
											<a class="col-6 col-md-6 p-0" href="/manage/cases?cid={{session['current_case'].case_id}}">
												<div class="quick-actions-item">
													<i class="flaticon-box"></i>
													<span class="text">Upload evidence</span>
												</div>
											</a>
											<a class="col-6 col-md-6 p-0" data-toggle="modal" data-target="#modal_add_tasklog" href="#">
												<div class="quick-actions-item">
													<i class="flaticon-interface-1"></i>
													<span class="text">Add task log</span>
												</div>
											</a>
										</div>
                                        <div class="row m-0">
											<a class="col-6 col-md-6 p-0" href="/case/evidences?cid={{session['current_case'].case_id}}">
												<div class="quick-actions-item">
													<i class="flaticon-price-tag"></i>
													<span class="text">Register evidence</span>
												</div>
											</a>
										</div>
                                    </div>
                                </div>
                                <div class="quick-actions-items">
                                    <div class="quick-actions quick-actions-danger">
                                        <div class="row m-0">
                                            <a class="col-11 col-md-11 p-0" title="Switch case" onclick="load_context_switcher();return false;" href="#" role="button">
                                                <div class="quick-actions-item">
                                                    <i class="flaticon-repeat"></i>
                                                    <span class="text">Switch case</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
                </div>
			</div>
		</div>
	</div>
</div>