
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					{% if current_user.is_authenticated %}
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									Welcome
									<span class="user-level">
									{{ current_user.name }}
                  				</span>
									<span class="caret"></span>
								</span>
							</a>

							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="/user/settings?cid={{case_name[2]}}">
											<span class="link-collapse">My settings</span>
										</a>
									</li>
									<li>
										<a href={{ url_for('index.logout') }}>
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary" id="l_nav_tab">
						<li class="nav-item">
							<a href="/dashboard?cid={{case_name[2]}}">
								<i class="flaticon-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Investigation</h4>
						</li>
						<li class="nav-item">
							<a href="/case?cid={{case_name[2]}}">
								<i class="flaticon-network"></i>
								<span class="sub-item">Case</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/search">
								<i class="flaticon-search-2"></i>
								<span class="sub-item">Search</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/activities?cid={{case_name[2]}}">
								<i class="flaticon-list"></i>
								<span class="sub-item">Activities</span>
							</a>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Manage</h4>
						</li>
						<li class="nav-item">
							<a href="/manage/cases?cid={{case_name[2]}}">
								<i class="flaticon-folder"></i>
								<p>Manage cases</p>
							</a>
						</li>
						{% if current_user.is_admin() %}
						<li class="nav-item submenu">
							<a data-toggle="collapse" href="#email-nav" class="" aria-expanded="false">
								<i class="flaticon-interface-3"></i>
								<p>Advanced</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="email-nav" style="">
								<ul class="nav nav-collapse">
									<li>
										<a href="/manage/modules?cid={{case_name[2]}}">
											<i class="fas fa-cubes"></i>
											<p>Modules</p>
										</a>
									</li>
									<li>
										<a href="/manage/customers?cid={{case_name[2]}}">
											<i class="flaticon-desk"></i>
											<p>Customers</p>
										</a>
									</li>
									<li>
										<a href="/manage/asset-type?cid={{case_name[2]}}">
											<i class="flaticon-imac"></i>
											<p>Assets Types</p>
										</a>
									</li>
									<li>
										<a href="/manage/templates?cid={{case_name[2]}}">
											<i class="fas fa-file-code"></i>
											<p>Templates</p>
										</a>
									</li>
									<li>
										<a href="/manage/users?cid={{case_name[2]}}">
											<i class="flaticon-user"></i>
											<p>Users</p>
										</a>
									</li>
								</ul>
							</div>
						</li>
						{% endif %}
						<li class="nav-item">
							<a href="https://github.com/dfir-iris/iris-doc-src">
								<i class="flaticon-round"></i>
								<p>Help</p>
							</a>
						</li>
					</ul>
					{% endif %}
				</div>
				<div class="d-flex justify-content-center text-faded">
					<a href="https://github.com/dfir-iris/iris-web" >Iris build {{ iris_version }}</a>
				</div>
			</div>
		</div>

		<!-- End Sidebar -->
