
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					{% if current_user.is_authenticated %}
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									<span class="user-level">
									{{ current_user.name }}
									</span>
									<small class="text-muted justify-content-center" style="font-size: 10px;" id="current_date"></small>
									<span class="caret"></span>
								</span>
							</a>

							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="/user/settings?cid={{case_name[2]}}">
											<span class="link-collapse">My settings</span>
										</a>
									</li>
									<li>
										<a href={{ url_for('index.logout') }}>
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary" id="l_nav_tab">

						<li class="nav-item">
							<a href="/dashboard?cid={{case_name[2]}}">
								<i class="flaticon-home"></i>
								<span>Dashboard</span>
							</a>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Investigation</h4>
						</li>
						<li class="nav-item">
							<a href="/case?cid={{case_name[2]}}">
								<i class="flaticon-network"></i>
								<span>Case</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/search?cid={{case_name[2]}}">
								<i class="flaticon-search-2"></i>
								<span>Search</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/activities?cid={{case_name[2]}}">
								<i class="flaticon-list"></i>
								<span>Activities</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/dim/tasks?cid={{case_name[2]}}">
								<i class="flaticon-web-1"></i>
								<span>DIM Tasks</span>
							</a>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Manage</h4>
						</li>
						{% if user_has_perm(std_permissions.manage_case,
											std_permissions.write_case_data,
											std_permissions.delete_case_data) %}
						<li class="nav-item">
							<a href="/manage/cases?cid={{case_name[2]}}">
								<i class="flaticon-folder"></i>
								<span>Manage cases</span>
							</a>
						</li>
						{% endif %}

						<li class="nav-item submenu">
							<a data-toggle="collapse" href="#advanced-nav" class="" aria-expanded="false">
								<i class="flaticon-interface-3"></i>
								<span class="sub-item">Advanced</span>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="advanced-nav" style="">
								<ul class="nav nav-collapse">
									{% if user_has_perm(std_permissions.read_modules, std_permissions.manage_modules) %}
									<li class="nav-subitem">
										<a href="/manage/modules?cid={{case_name[2]}}">
											<i class="flaticon-technology-1"></i>
											<span class="subsub-item">Modules</span>
										</a>
									</li>
									{% endif %}

									{% if user_has_perm(std_permissions.read_customers, std_permissions.manage_customers) %}
									<li class="nav-subitem">
										<a href="/manage/customers?cid={{case_name[2]}}">
											<i class="flaticon-profile"></i>
											<span class="subsub-item">Customers</span>
										</a>
									</li>
									{% endif %}

									{% if user_has_perm(std_permissions.read_case_objects, std_permissions.manage_case_objects) %}
									<li class="nav-subitem">
										<a href="/manage/objects?cid={{case_name[2]}}">
											<i class="flaticon-box-2"></i>
											<span>Case Objects</span>
										</a>
									</li>
									{% endif %}

									{% if user_has_perm(std_permissions.read_custom_attributes, std_permissions.manage_custom_attributes) %}
									<li class="nav-subitem">
										<a href="/manage/attributes?cid={{case_name[2]}}">
											<i class="flaticon-layers-1"></i>
											<span>Custom Attributes</span>
										</a>
									</li>
									{% endif %}

									{% if user_has_perm(std_permissions.manage_templates) %}
									<li class="nav-subitem">
										<a href="/manage/templates?cid={{case_name[2]}}">
											<i class="flaticon-interface-6"></i>
											<span>Report Templates</span>
										</a>
									</li>
									{% endif %}

									{% if user_has_perm(std_permissions.read_users, std_permissions.manage_users,
										std_permissions.manage_groups,
										std_permissions.manage_organisations, std_permissions.manage_own_organisation) %}
									<li class="nav-subitem">
										<a href="/manage/access-control?cid={{case_name[2]}}">
											<i class="flaticon-lock-1"></i>
											<span>Access control</span>
										</a>
									</li>
									{% endif %}

									{% if user_has_perm(std_permissions.manage_server_settings, std_permissions.read_server_settings) %}
									<li class="nav-subitem">
										<a href="/manage/settings?cid={{case_name[2]}}">
											<i class="flaticon-settings"></i>
											<span>Server settings</span>
										</a>
									</li>
									{% endif %}

								</ul>
							</div>
						</li>

						<li class="nav-item">
							<a href="https://dfir-iris.github.io">
								<i class="flaticon-round"></i>
								<span>Help</span>
							</a>
						</li>
					</ul>
					{% endif %}
				</div>

				<div class="d-flex justify-content-center text-faded iris-version-menu">
					<a href="https://github.com/dfir-iris/iris-web" >IRIS {{ iris_version }}</a> {% if has_updates %}<a href="/manage/settings?cid={{case_name[2]}}"> <i class="ml-1 text-warning fas fa-exclamation-circle" title="Updates are available for the server"></i></a>{% endif %}
				</div>
			</div>
		</div>

		<!-- End Sidebar -->
