
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					{% if current_user.is_authenticated %}
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									<span class="user-level">
									{{ current_user.name }}
									</span>
									<small class="text-muted justify-content-center" style="font-size: 10px;" id="current_date"></small>
									<span class="caret"></span>
								</span>
							</a>

							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="/user/settings?cid={{session['current_case'].case_id}}">
											<span class="link-collapse">My settings</span>
										</a>
									</li>
									<li>
										<a href={{ url_for('index.logout') }}>
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary" id="l_nav_tab">

						<li class="nav-item">
							<a href="/dashboard?cid={{session['current_case'].case_id}}">
								<i class="flaticon-home"></i>
								<span>Dashboard</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/overview?cid={{session['current_case'].case_id}}">
								<i class="fa-solid fa-street-view"></i>
								<span>Overview</span>
							</a>
						</li>
						{% if demo_domain %}
						<li class="nav-item">
							<a href="/welcome">
								<i class="fa-solid fa-door-open"></i>
								<span>Welcome page</span>
							</a>
						</li>
						{% endif %}
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Investigation</h4>
						</li>
						<li class="nav-item">
							<a href="/case?cid={{session['current_case'].case_id}}">
								<i class="flaticon-network"></i>
								<span>Case</span>
							</a>
						</li>
						{% if user_has_perm(std_permissions.alerts_read) %}
						<li class="nav-item">
							<a href="/alerts?cid={{session['current_case'].case_id}}">
								<i class="flaticon-alarm-1"></i>
								<span>Alerts</span>
							</a>
						</li>
						{% endif %}
						{% if user_has_perm(std_permissions.search_across_cases) %}
						<li class="nav-item">
							<a href="/search?cid={{session['current_case'].case_id}}">
								<i class="flaticon-search-2"></i>
								<span>Search</span>
							</a>
						</li>
						{% endif %}
						{% if user_has_perm(std_permissions.activities_read) or user_has_perm(std_permissions.all_activities_read) %}
						<li class="nav-item">
							<a href="/activities?cid={{session['current_case'].case_id}}">
								<i class="flaticon-list"></i>
								<span>Activities</span>
							</a>
						</li>
						{% endif %}
						<li class="nav-item">
							<a href="/dim/tasks?cid={{session['current_case'].case_id}}">
								<i class="flaticon-web-1"></i>
								<span>DIM Tasks</span>
							</a>
						</li>


						<li class="nav-section nav-advanced">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Manage</h4>
						</li>
						<li class="nav-item">
							<a href="/manage/cases?cid={{session['current_case'].case_id}}">
								<i class="flaticon-folder"></i>
								<span>Manage cases</span>
							</a>
						</li>

						<li class="nav-item submenu nav-advanced">
							<a data-toggle="collapse" href="#advanced-nav" class="" aria-expanded="false">
								<i class="flaticon-interface-3"></i>
								<span class="sub-item">Advanced</span>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="advanced-nav" style="">

								<ul class="nav nav-collapse">
									{% if user_has_perm(std_permissions.server_administrator) %}
									<li class="nav-subitem">
										<a href="/manage/modules?cid={{session['current_case'].case_id}}">
											<i class="flaticon-technology-1"></i>
											<span class="subsub-item">Modules</span>
										</a>
									</li>
									{% endif %}
									{% if user_has_perm(std_permissions.customers_read) %}
									<li class="nav-subitem">
										<a href="/manage/customers?cid={{session['current_case'].case_id}}">
											<i class="flaticon-profile"></i>
											<span class="subsub-item">Customers</span>
										</a>
									</li>
									{% endif %}
									{% if user_has_perm(std_permissions.server_administrator) %}
									<li class="nav-subitem">
										<a href="/manage/objects?cid={{session['current_case'].case_id}}">
											<i class="flaticon-box-2"></i>
											<span>Case Objects</span>
										</a>
									</li>

									<li class="nav-subitem">
										<a href="/manage/attributes?cid={{session['current_case'].case_id}}">
											<i class="flaticon-layers-1"></i>
											<span>Custom Attributes</span>
										</a>
									</li>
									{% endif %}
									{% if user_has_perm(std_permissions.case_templates_read) %}
									<li class="nav-subitem">
										<a href="/manage/case-templates?cid={{session['current_case'].case_id}}">
											<i class="flaticon-interface-7"></i>
											<span>Case Templates</span>
										</a>
									</li>
									{% endif %}
									{% if user_has_perm(std_permissions.server_administrator) %}
									<li class="nav-subitem">
										<a href="/manage/templates?cid={{session['current_case'].case_id}}">
											<i class="flaticon-interface-6"></i>
											<span>Report Templates</span>
										</a>
									</li>

									<li class="nav-subitem">
										<a href="/manage/access-control?cid={{session['current_case'].case_id}}">
											<i class="flaticon-lock-1"></i>
											<span>Access control</span>
										</a>
									</li>

									<li class="nav-subitem">
										<a href="/manage/settings?cid={{session['current_case'].case_id}}">
											<i class="flaticon-settings"></i>
											<span>Server settings</span>
										</a>
									</li>
									{% endif %}
								</ul>
							</div>
						</li>
						{% endif %}
						<li class="nav-item">
							<a href="https://docs.dfir-iris.org" target="_blank" rel="noopener">
								<i class="flaticon-round"></i>
								<span>Help</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="mt--2">
					<div class="row ml-2 mr-2">
						<span class="text-dark text-center ml-auto mr-auto">{{ organisation_name }}</span>
					</div>
					<div class="row ml-2 mr-2">
						<span class="text-dark text-center ml-auto mr-auto"><a href="https://github.com/dfir-iris/iris-web" target="_blank" rel="noopener">IRIS {{ iris_version }}</a> {% if has_updates %}
								<a href="/manage/settings?cid={{session['current_case'].case_id}}"> <i class="ml-1 text-warning fas fa-exclamation-circle" title="Updates are available for the server"></i></a>{% endif %}
						</span>
					</div>
				</div>
			</div>
		</div>

		<!-- End Sidebar -->
