<div class="modal-header">
    <h4 class="modal-title mt-2 mr-4">Datastore File</h4>
    <div class="row text-right">
         <button type="button" class="pull-right btn bg-transparent" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true"><i class="fa fa-times"></i></span></button>
    </div>
</div>
<div class="modal-body">
    <div class="container col-md-12">
        <form method="post" action="" id="form_new_asset">
            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form.hidden_tag() }}
                <div class="form-row ml-2">
                    <div class="form-group col-12">
                        <label for="filename" class="placeholder">Filename *</label>
                        {{ form.filename(class='form-control',  autocomplete="off") }}
                    </div>
                </div>
                <div class="form-row ml-2">
                    <div class="form-group col-12">
                            <label for="file_description" class="placeholder">Description</label>
                            {{ form.file_description(class='form-control col-md-12 col-sm-12 sizable-textarea', autocomplete="off") }}
                    </div>
                </div>
                <div class="form-row ml-2">
                    <div class="form-group col-6 col-xs-12">
                        <label for="file_password" class="placeholder">Password<i class="ml-1 mt-1 fa-regular text-dark fa-circle-question"
                                                                                  title="Help" data-toggle="popover" data-html="true"
                                                                                  data-trigger="hover" style="cursor: pointer;"
                                                                                  data-content="If set, the file is locally encrypted with this password.<br/>Encrypted files cannot be used in notes.<br/>IOC are automatically encrypted with password <code>infected</code> unless specified otherwise here.">

                        </i></label>
                            {{ form.file_password(class='form-control',  autocomplete="off") }}
                    </div>
                    <div class="form-group col-6 col-xs-12">
                        <label for="asset_tags">File tags</label>
                        <input type="text" id="file_tags"
                            class="form-control col-md-12" {% if file.file_tags %} value="{{ file.file_tags }}" {% endif %}/>
                    </div>
                </div>
                <div class="form-row ml-2">
                    <div class="form-group col-6 col-xs-12">
                        <div class="form-check">
                            <label class="form-check-label">
                                {{ form.file_is_ioc(class="form-check-input", type="checkbox") }}
                                <span class="form-check-sign"> File is IOC <i class="ml-1 mt-1 fa-regular text-dark fa-circle-question"
                                                                                  title="Help" data-toggle="popover" data-html="true"
                                                                                  data-trigger="hover" style="cursor: pointer;"
                                                                                  data-content="If set, the file is stored in a dedicated IOC folder on the server and is encrypted with password <code>infected</code> unless specified otherwise in the password field.<br/> The file is also added to the case IOC.">

                                </i></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-6 col-xs-12">
                        <div class="form-check">
                            <label class="form-check-label">
                                {{ form.file_is_evidence(class="form-check-input", type="checkbox") }}
                                <span class="form-check-sign"> File is Evidence <i class="ml-1 mt-1 fa-regular text-dark fa-circle-question"
                                                                                  title="Help" data-toggle="popover" data-html="true"
                                                                                  data-trigger="hover" style="cursor: pointer;"
                                                                                  data-content="If set, the file is stored in a dedicated Evidence folder on the server and added to the case Evidences.">

                                </i></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row ml-2">
                    <div class="form-group col-12">
                        <label for="input_upload_ds_file" class="form-label">Choose file to upload : </label>
                        <input id="input_upload_ds_file" class="form-control" type="file">
                    </div>
                </div>
            </div>
            {% if file.file_id %}
                <button type="button" class="btn btn-outline-danger ml-4 mt-5"
                onclick="delete_file({{ file.file_id }});">Delete</button>
            {% endif %}
            <button type="button" class="btn btn-outline-success ml-4 mt-5 float-right"  id="add_new_ds_file();return false;">Save</button>
        </form>
    </div>
</div>
<script>
    $('[data-toggle="popover"]').popover();
</script>