<div class="modal-header">
    <h4 class="modal-title mt-2 mr-4">Datastore File</h4>
    <div class="row text-right">
         <button type="button" class="pull-right btn bg-transparent" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true"><i class="fa fa-times"></i></span></button>
    </div>
</div>
<div class="modal-body">
    <div class="container col-md-12">
        <form method="post" action="" id="form_new_asset">
            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form.hidden_tag() }}
                <div class="form-row ml-2">
                    <div class="form-group col-12">
                        <label for="filename" class="placeholder">Filename *</label>
                        {{ form.filename(class='form-control',  autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                        <label for="file_description" class="placeholder">Description</label>
                        {{ form.asset_description(class='form-control col-md-12 col-sm-12 sizable-textarea', autocomplete="off") }}
                </div>
                <div class="form-row ml-2">
                    <div class="form-group col-6">
                            <label for="file_password" class="placeholder">Password</label>
                            {{ form.file_password(class='form-control',  autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="asset_tags">File tags
                    </label>
                    <input type="text" id="asset_tags"
                        class="form-control col-md-12" {% if file.file_tags %} value="{{ file.file_tags }}" {% endif %}/>
                </div>
            </div>
        </form>
    </div>
</div>