{% extends "layouts/default_ext.html" %}
{% block title %} Case Graph {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/bootstrap-slider.min.css">
<link rel="stylesheet" href="/static/assets/css/select2.css">
<link rel="stylesheet" href="/static/assets/css/bootstrap-select.min.css">

<link href="/static/assets/css/vis.min.css" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}
{% block content %}

{% include 'includes/navigation_ext.html' %}

{% include 'includes/sidenav.html' %}
<div class="main-panel">

    <div class="content">
        <nav class="navbar navbar-header navbar-expand-lg bg-primary-gradient nav-sticky">
            <ul class="container-fluid mt-3 mb--2">

                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center page-navigation page-navigation-style-2 page-navigation-secondary">
                    <li class="nav-item ml-2">
                            <span class="text-white text-sm mr-2" id="last_resfresh">Loading</span>
                    </li>
                    <li class="nav-item hidden-caret">
                        <button class="btn btn-primary btn-sm" onclick="get_case_graph();">
                            <span class="menu-title">Refresh</span>
                        </button>
                    </li>
                </ul>
            </ul>
        </nav>
        {% if current_user.is_authenticated %}
        {{ form.hidden_tag() }}
        <div class="page-inner">
            <div class="row">
                <div class="loader1 text-center ml-mr-auto" id="loading_msg">Loading...</div>
                <div class="card mb-4 col-md-12" id="card_main_load" style="display:none;">
                        <div class="card-body">
                                <div class="row">
                                    <div id='graph-container'></div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    {% include 'includes/footer.html' %}
</div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/js/plugin/vis/vis.min.js"></script>
<script src="/static/assets/js/plugin/vis/vis-network.min.js"></script>
<script src="/static/assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<script src="/static/assets/js/plugin/select/select2.js"></script>
<script src="/static/assets/js/plugin/select/bootstrap-select.min.js"></script>

<script src="/static/assets/js/iris/case.common.js"></script>
<script src="/static/assets/js/iris/case.graph.js"></script>
{% endblock javascripts %}



