
{% extends "layouts/default.html" %}

{% block title %} Case Error {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <br />
    <br />

    <h2 class="mx-5">No case found for you !</h2><br/><br/>
    <h3 class="font-weight-light mx-5">The page you’re looking for is only available when a case is selected.</h3><br/>

<h3 class="font-weight-light mx-5">Please press the <b><i class="flaticon-repeat"></i></b> button on the top right to select one.</h3>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
