azure-identity==1.10.0
azure-keyvault-secrets==4.5.1
celery==5.2.3
Flask==2.0.3
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
flask-marshmallow==0.14.0
Flask-Caching==1.10.1
marshmallow==3.14.0
marshmallow-sqlalchemy==0.26.1
gunicorn==20.1.0
psycopg2-binary==2.9.1
pyunpack==0.2.2
packaging==21.3
requests==2.26.0
SQLAlchemy==1.4.31
SQLAlchemy-ImageAttach==1.1.0
SQLAlchemy-Utils==0.38.2
urllib3==1.26.5
Werkzeug==2.0.3
WTForms==2.2.1
flask-socketio==5.1.1
eventlet==0.30.2
alembic==1.7.5
setuptools==59.6.0
python-dateutil==2.8.2
python-gnupg==0.4.8
pyminizip~=0.2.6
PyJWT==2.4.0
cryptography==37.0.4
ldap3==2.9.1

dependencies/docx_generator-0.7.0-py3-none-any.whl
dependencies/iris_interface-1.1-py3-none-any.whl
dependencies/iris_check_module-0.1-py3-none-any.whl
dependencies/evtx2splunk-2.0.1-py3-none-any.whl
dependencies/iris_evtx-1.1-py3-none-any.whl
dependencies/iris_check_module-0.1-py3-none-any.whl
dependencies/iris_vt_module-0.2-py3-none-any.whl
dependencies/iris_misp_module-0.1-py3-none-any.whl