azure-identity==1.10.0
azure-keyvault-secrets==4.5.1
celery==5.2.7
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.1.1
flask-marshmallow==0.14.0
Flask-Caching==1.10.1
marshmallow==3.20.1
marshmallow-sqlalchemy==0.30.0
gunicorn==20.1.0
psycopg2-binary==2.9.1
pyunpack==0.2.2
packaging==21.3
requests==2.31.0
SQLAlchemy==2.0.24
SQLAlchemy-ImageAttach==1.1.0
SQLAlchemy-Utils==0.41.1
urllib3==1.26.18
Werkzeug==2.3.7
WTForms==2.2.1
flask-socketio==5.1.1
eventlet==0.30.2
alembic==1.7.5
setuptools~=70.3.0
python-dateutil==2.8.2
python-gnupg==0.4.8
pyminizip~=0.2.6
PyJWT==2.4.0
cryptography>=39.0.1
ldap3==2.9.1
pyintelowl>=4.4.0
pyotp==2.9.0
graphene==3.3
qrcode[pil]==7.4.2
dictdiffer==0.2.0
oic==1.7.0
# unfortunately we are relying on a beta version here. I hope a definitive version gets released soon
graphql-server[flask]==3.0.0b7
graphene-sqlalchemy==3.0.0rc1

dependencies/docx_generator-0.8.0-py3-none-any.whl
dependencies/iris_interface-1.2.0-py3-none-any.whl
dependencies/evtx2splunk-2.0.1-py3-none-any.whl
dependencies/iris_evtx-1.2.0-py3-none-any.whl
dependencies/iris_check_module-1.0.1-py3-none-any.whl
dependencies/iris_vt_module-1.2.1-py3-none-any.whl
dependencies/iris_misp_module-1.3.0-py3-none-any.whl
dependencies/iris_webhooks_module-1.0.8-py3-none-any.whl
dependencies/iris_intelowl_module-0.1.0-py3-none-any.whl
dependencies/iris_seika_module-1.0.0-py3-none-any.whl